In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path=r'/Users/coley/Desktop/Data Analyst School/Achievement 4/Instacart Basket Analysis'

In [3]:
path

'/Users/coley/Desktop/Data Analyst School/Achievement 4/Instacart Basket Analysis'

# Step 3

In [4]:
df_ords_prods_combo=pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_combined.pkl'))

# Step 4

In [5]:
df_ords_prods_combo.shape

(32434489, 11)

# Step 5

In [6]:
df_prods=pd.read_csv(os.path.join(path,'02 Data','Prepared Data','products_checked.csv'))

In [7]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df_ords_prods_combo.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [10]:
df_complete_combo=df_prods.merge(df_ords_prods_combo, on = 'product_id')

In [11]:
df_complete_combo.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,10,0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both

# Step 6

In [13]:
df_complete_combo['_merge'].value_counts()

both          32404859
right_only           0
left_only            0
Name: _merge, dtype: int64

In [14]:
df_complete_combo.shape

(32404859, 16)

# Step 7

In [15]:
df_complete_combo.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))